{
  "openapi": "3.0.3",
  "info": {
    "title": "Aardvark Gateway API",
    "version": "1.0.0",
    "description": "User-facing HTTP API of the aardvark cloud gateway — the metered OpenRouter proxy and dashboard backend. Operator-only endpoints (`/admin/*`, `/operator-auth/*`, `/operator-api/*`) and the dashboard / operator SPA shells (`/dashboard*`, `/operator*`) are excluded by design.\n\nThis document is GENERATED from the gateway source: `scripts/gen-openapi.mjs` extracts every route's auth, request fields, query params, response shape, and error codes directly from the handlers, then renders them. Do NOT edit `openapi.json` (or hand-author its structure) — change the code, and regenerate. Only prose lives in `scripts/openapi/descriptions.mjs`."
  },
  "servers": [
    {
      "url": "https://gateway.aardvarkdocs.com",
      "description": "Aardvark-hosted gateway."
    },
    {
      "url": "https://aardvark-gateway.{subdomain}.workers.dev",
      "description": "Self-hosted on a workers.dev subdomain.",
      "variables": {
        "subdomain": {
          "default": "your-subdomain",
          "description": "Your Cloudflare workers.dev subdomain."
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "Metered chat completions."
    },
    {
      "name": "Reader Telemetry",
      "description": "Reader telemetry ingest."
    },
    {
      "name": "Dashboard Analytics",
      "description": "Dashboard analytics."
    },
    {
      "name": "Dashboard Support",
      "description": "Support tickets."
    },
    {
      "name": "Account",
      "description": "Account self-service."
    },
    {
      "name": "API Keys",
      "description": "API key management."
    },
    {
      "name": "Team",
      "description": "Team & invites."
    },
    {
      "name": "Billing",
      "description": "Card & top-ups."
    },
    {
      "name": "Auth",
      "description": "Magic-link sign-in."
    },
    {
      "name": "Webhooks",
      "description": "Stripe webhooks."
    },
    {
      "name": "GitHub",
      "description": "Docs quality checks."
    },
    {
      "name": "Service",
      "description": "Health check."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Health check",
        "operationId": "getRoot",
        "description": "Unauthenticated root health check; returns a fixed `text/plain` body.",
        "security": [],
        "responses": {
          "200": {
            "description": "`aardvark-gateway ok`",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Destroy the session",
        "operationId": "postAuthLogout",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Deletes the session row and clears the cookie. Requires the session cookie and the `X-Aardvark-Dashboard` CSRF header. Idempotent.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`; the session row was deleted and the `__Host-av_session` cookie cleared."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error — `logout_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "logout_failed",
                    "message": "Could not complete sign-out. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Current user & teams",
        "operationId": "getAuthMe",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Returns the authenticated user, the active account, the role there, and all memberships. Returns 401 `{ authenticated: false }` when there is no valid session.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authenticated": {
                      "type": "boolean",
                      "description": "`true` for a valid session; the 401 body instead carries `false`."
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Stable user id of the signed-in account holder."
                        },
                        "email": {
                          "type": "string",
                          "description": "Login email of the signed-in user."
                        }
                      },
                      "description": "The signed-in user identity (id and login email)."
                    },
                    "active_account": {
                      "type": "string",
                      "description": "Account id the session is currently scoped to for billing and `/v1/*` access."
                    },
                    "role": {
                      "type": "string",
                      "nullable": true,
                      "description": "Caller's role in `active_account`: one of `owner`, `admin`, or `member`."
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "string",
                            "description": "Account id of this membership."
                          },
                          "role": {
                            "type": "string",
                            "description": "User's role on that account: `owner`, `admin`, or `member`."
                          },
                          "owner_email": {
                            "type": "string",
                            "description": "Owner email of that account, shown to identify it in the switcher."
                          }
                        }
                      },
                      "description": "All accounts the user is an active member of, for the account switcher."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "authenticated"
                  ],
                  "properties": {
                    "authenticated": {
                      "type": "boolean",
                      "description": "Always `false` in this error response."
                    }
                  }
                },
                "example": {
                  "authenticated": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/request-link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send a sign-in link",
        "operationId": "postAuthRequestLink",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Emails a single-use magic link to the address. Neutral 200 regardless of whether the email exists (no account enumeration). Rate limited per IP and per email.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email to send the sign-in link to."
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`; the response is neutral and never signals whether the email exists."
                    },
                    "message": {
                      "type": "string",
                      "description": "Neutral confirmation prose shown regardless of outcome, avoiding account enumeration."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many sign-in requests. Please wait a minute and try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/switch": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Switch active account",
        "operationId": "postAuthSwitch",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Rotates the session to a different account the user belongs to. Requires the session cookie and the `X-Aardvark-Dashboard` CSRF header. Rate limited per user.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "Target account id to switch to."
                  }
                },
                "required": [
                  "account_id"
                ]
              },
              "example": {
                "account_id": "a_abc123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` once the session is rotated to the target account."
                    },
                    "active_account": {
                      "type": "string",
                      "description": "Account id the session is now active on, matching the requested `account_id`."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `unauthenticated`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "unauthenticated",
                    "message": "Sign in to switch accounts."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `no_access`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many account switches. Please wait a moment."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Magic-link landing",
        "operationId": "getAuthVerify",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This endpoint serves the magic-link verification HTML page, not a cross-origin JSON API request. Open the magic link in your browser or start the flow from the dashboard instead.",
        "description": "Serves a tiny nonce-CSP HTML page that reads the token from the URL fragment and POSTs it to `/auth/verify`. The token never reaches the server as a query string.",
        "security": [],
        "responses": {
          "200": {
            "description": "An HTML page that completes the sign-in client-side.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Redeem a magic link",
        "operationId": "postAuthVerify",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "The token in the body is the credential. On success sets the `__Host-av_session` cookie. NOTE: this endpoint's responses use the non-standard shape `{ ok, error }` (read by the landing page's script), not the usual error envelope.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The magic-link token from the URL fragment."
                  }
                },
                "required": [
                  "token"
                ]
              },
              "example": {
                "token": "<base64url-token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "`true` when the token was consumed and the `__Host-av_session` cookie was minted; `false` carries an `error` code."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `false` in this error response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error code string."
                    }
                  }
                },
                "example": {
                  "ok": false,
                  "error": "invalid"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `false` in this error response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error code string."
                    }
                  }
                },
                "example": {
                  "ok": false,
                  "error": "rate_limited"
                }
              }
            }
          }
        }
      }
    },
    "/v1/activity": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Live activity rollup",
        "operationId": "getV1Activity",
        "description": "Headline metrics over the last `days` (default 30, capped at 365): conversation/answer/feedback counts, verdict mix, uncertainty rate, engagement, support-deflection rate, and top languages.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Window length in days (default 30, capped at 365)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "window_days": {
                      "type": "integer",
                      "description": "Resolved look-back window in days (default `30`, capped at `365`)."
                    },
                    "since": {
                      "type": "integer",
                      "description": "Window start, epoch-ms (inclusive); `until` minus `window_days`."
                    },
                    "until": {
                      "type": "integer",
                      "description": "Window end, epoch-ms (exclusive); the request time."
                    },
                    "conversations": {
                      "type": "number",
                      "description": "Distinct conversations with at least one stored turn in the window."
                    },
                    "answers": {
                      "type": "number",
                      "description": "Total stored answer turns (transcript rows) in the window."
                    },
                    "feedback": {
                      "type": "object",
                      "properties": {
                        "up": {
                          "type": "string",
                          "description": "Count of thumbs-up votes on answers in the window."
                        },
                        "down": {
                          "type": "string",
                          "description": "Count of thumbs-down votes on answers in the window."
                        },
                        "satisfaction_rate": {
                          "type": "string",
                          "description": "`up / (up + down)` in `[0,1]`, or `null` when no votes."
                        }
                      },
                      "description": "Reader thumbs vote tallies and the derived satisfaction rate."
                    },
                    "verdicts": {
                      "type": "object",
                      "properties": {
                        "confident": {
                          "type": "number",
                          "description": "Turns classified `confident` by the analysis pass."
                        },
                        "unconfident": {
                          "type": "number",
                          "description": "Turns classified `unconfident` by the analysis pass."
                        },
                        "not_found": {
                          "type": "number",
                          "description": "Turns classified `not_found` (no answer in the docs)."
                        },
                        "doc_gap": {
                          "type": "number",
                          "description": "Turns classified `doc_gap` (a documentation coverage gap)."
                        }
                      },
                      "description": "Analysis-pass answer-quality classification distribution."
                    },
                    "analyzed": {
                      "type": "string",
                      "description": "Turns with any verdict: sum of the four `verdicts` counts."
                    },
                    "uncertainty_rate": {
                      "type": "string",
                      "description": "Flagged (`unconfident`+`not_found`+`doc_gap`) over `analyzed`, or `null`."
                    },
                    "engagement": {
                      "type": "object",
                      "properties": {
                        "escalation_shown": {
                          "type": "number",
                          "description": "Times the escalation/contact link was shown under a downvoted answer."
                        },
                        "escalation_click": {
                          "type": "number",
                          "description": "Times a reader clicked the escalation/contact link."
                        }
                      },
                      "description": "Escalation/contact-link beacon counts driving deflection."
                    },
                    "deflection_rate": {
                      "type": "string",
                      "description": "`1 − escalation_click / answers`, clamped `[0,1]`; `null` when no escalations or answers."
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "language": {
                            "type": "string",
                            "description": "ISO query-language code from the analysis pass."
                          },
                          "count": {
                            "type": "integer",
                            "description": "Turns analyzed in this language during the window."
                          }
                        }
                      },
                      "description": "Top query languages by turn count (max 12, descending)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/authoring-analytics": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Authoring analytics",
        "operationId": "getV1AuthoringAnalytics",
        "description": "Per-type counts and the most recent authoring events over the last 90 days. Returns clean empty shapes when no rows exist.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_type": {
                            "type": "string",
                            "description": "Client-defined authoring event name, e.g. `suggestion_accepted`."
                          },
                          "count": {
                            "type": "integer",
                            "description": "Number of events of this `event_type` recorded within the 90-day window."
                          }
                        }
                      },
                      "description": "Per-`event_type` counts over the last 90 days, busiest type first (≤500 types)."
                    },
                    "recent": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_type": {
                            "type": "string",
                            "description": "Client-defined authoring event name for this row."
                          },
                          "detail": {
                            "type": "string",
                            "description": "Optional free-text payload sent with the event; `null` when omitted."
                          },
                          "ts": {
                            "type": "integer",
                            "description": "Epoch-ms time the event was recorded."
                          }
                        }
                      },
                      "description": "The most recent authoring events, newest first (≤50), within the 90-day window."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total events over the last 90 days, summed from the per-type `events` counts."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/authoring-telemetry": {
      "post": {
        "tags": [
          "Reader Telemetry"
        ],
        "summary": "Authoring beacon",
        "operationId": "postV1AuthoringTelemetry",
        "description": "Scaffold ingest for a future authoring client. Public-key authed like the other reader beacons; `event_type` is restricted to letters/digits/'.'/'_'/'-'. Best-effort over the per-account daily cap.",
        "security": [
          {
            "publicKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_type": {
                    "type": "string",
                    "description": "Event name (≤100 chars)."
                  },
                  "detail": {
                    "type": "string",
                    "nullable": true,
                    "description": "Free-text payload (≤2000 chars)."
                  }
                },
                "required": [
                  "event_type"
                ]
              },
              "example": {
                "event_type": "draft.generated",
                "detail": "page=quickstart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`; best-effort ack even when the row is dropped over the daily cap."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`, `revoked_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "Missing or malformed API key."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — `account_inactive`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "account_inactive",
                    "message": "This account is not active."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `origin_forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "origin_forbidden",
                    "message": "Origin not allowed for this key."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Chat completion",
        "operationId": "postV1ChatCompletions",
        "description": "OpenAI-compatible chat-completions endpoint. The gateway authorizes the key, reserves the input cost against the account balance, forwards the request to the configured upstream model, and streams the response back as Server-Sent Events while metering actual spend. The system prompt is always injected by the gateway; client-supplied system messages are stripped. The sampling fields (temperature/top_p/frequency_penalty/presence_penalty) are clamped to valid ranges.",
        "security": [
          {
            "publicKey": []
          },
          {
            "secretKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string",
                    "description": "Upstream model id to forward to."
                  },
                  "messages": {
                    "type": "array",
                    "items": {},
                    "nullable": true,
                    "description": "OpenAI-style message array; must include at least one user message."
                  },
                  "tools": {
                    "type": "array",
                    "items": {},
                    "description": "Tool/function definitions, forwarded verbatim."
                  },
                  "plugins": {
                    "type": "array",
                    "items": {},
                    "description": "Server-side plugins, forwarded verbatim."
                  },
                  "tool_choice": {
                    "type": "object",
                    "description": "Tool-choice directive, forwarded verbatim."
                  },
                  "max_tokens": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Max output tokens (clamped to ≥ 1)."
                  },
                  "stop": {
                    "type": "array",
                    "items": {},
                    "description": "Up to 4 stop sequences (string or array); excess is truncated."
                  },
                  "reasoning": {
                    "type": "object",
                    "description": "Reasoning controls (effort/enabled/exclude/max_tokens), validated and forwarded."
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Sampling temperature forwarded upstream, clamped to `[0, 2]`; dropped if non-numeric or `NaN`."
                  },
                  "top_p": {
                    "type": "number",
                    "description": "Nucleus-sampling probability mass forwarded upstream, clamped to `[0, 1]`; dropped if non-numeric."
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "description": "Repetition penalty by token frequency, clamped to `[-2, 2]`; dropped if non-numeric."
                  },
                  "presence_penalty": {
                    "type": "number",
                    "description": "Penalty for tokens already present, clamped to `[-2, 2]`; dropped if non-numeric."
                  }
                },
                "required": [
                  "model",
                  "messages"
                ]
              },
              "example": {
                "model": "openai/gpt-4o-mini",
                "messages": [
                  {
                    "role": "user",
                    "content": "How do I install the CLI?"
                  }
                ],
                "max_tokens": 512,
                "temperature": 0.3
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A `text/event-stream` of OpenAI-style completion chunks (`data: {…}` lines, terminated by `data: [DONE]`). The optional `X-Stop-Truncated: true` header signals dropped excess `stop` sequences.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "SSE `data:` lines, terminated by `data: [DONE]`."
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `attachments_too_large`, `bad_request`, `model_not_available`, `too_many_attachments`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "attachments_too_large",
                    "message": "Total attachment payload is too large."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`, `revoked_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "Missing or malformed API key."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — `account_inactive`, `insufficient_balance`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "account_inactive",
                    "message": "This account is not active."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `origin_forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "origin_forbidden",
                    "message": "This key isn't allowed from this origin."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": ""
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream error — `upstream_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "upstream_error",
                    "message": "Upstream request failed."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — `pricing_unavailable`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "pricing_unavailable",
                    "message": "Could not determine a price for this model (unknown to OpenRouter, or pricing is temporarily unavailable). The request was not billed."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/comment": {
      "post": {
        "tags": [
          "Reader Telemetry"
        ],
        "summary": "Submit a comment",
        "operationId": "postV1Comment",
        "description": "Stores a free-text reader comment, optionally tied to a page path and an island-generated survey/question id. Best-effort over the per-account daily cap. `page_url` must be a safe site-relative pathname or it is stored as null.",
        "security": [
          {
            "publicKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "description": "Comment text (≤2000 chars)."
                  },
                  "page_url": {
                    "type": "string",
                    "description": "Site-relative pathname starting with `/` (≤200 chars)."
                  },
                  "survey_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Island-generated survey id (≤100 chars)."
                  },
                  "question_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Island-generated question id (≤100 chars)."
                  }
                },
                "required": [
                  "comment"
                ]
              },
              "example": {
                "comment": "The quickstart was great.",
                "page_url": "/docs/quickstart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` on accept; best-effort, so `true` even when the daily cap drops the row."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`, `revoked_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "Missing or malformed API key."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — `account_inactive`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "account_inactive",
                    "message": "This account is not active."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `origin_forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "origin_forbidden",
                    "message": "Origin not allowed for this key."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Conversation detail",
        "operationId": "getV1Conversations",
        "description": "Recent turns grouped into conversations, each with the reader vote and (when available) an automated analysis verdict. `filter=needs_attention` restricts to low-confidence / doc-gap / not-found turns; `verdict`/`intent`/`vote`/`q`/`tag` narrow it further.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "verdict",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to a single analysis verdict."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set to `needs_attention` to restrict the result (default `all`)."
          },
          {
            "name": "intent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to a single detected intent."
          },
          {
            "name": "vote",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to `up`/`down` votes."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free-text search over question/answer."
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to a custom tag."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Epoch-ms lower bound; keeps turns with `ts` >= this (inclusive)."
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Epoch-ms upper bound; keeps turns with `ts` < this (exclusive)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Recent turns grouped by `conversation_id`, newest conversation first, turns ascending within."
                    },
                    "truncated": {
                      "type": "boolean",
                      "description": "`true` when more matching turns exist beyond the 100-turn list cap."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Back-compat toggle echo: `needs_attention` when that legacy filter applied, else `all`."
                    },
                    "filters": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Active-filter chips, e.g. `verdict:doc_gap`, `intent:troubleshooting`, `vote:up`, `tag:<name>`, `q`, `date`, `needs_attention`."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations/export.csv": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Export conversations",
        "operationId": "getV1ConversationsExportCsv",
        "description": "CSV of the conversation turns matching the same filters as `GET /v1/conversations` (every cell formula-injection-guarded). An `X-Aardvark-Export-Truncated: true` response header signals the export cap was hit.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "verdict",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to a single analysis verdict."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Set to `needs_attention` to restrict the result (default `all`)."
          },
          {
            "name": "intent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to a single detected intent."
          },
          {
            "name": "vote",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to `up`/`down` votes."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free-text search over question/answer."
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to a custom tag."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Epoch-ms lower bound; keeps turns with `ts` >= this (inclusive)."
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Epoch-ms upper bound; keeps turns with `ts` < this (exclusive)."
          }
        ],
        "responses": {
          "200": {
            "description": "A CSV file (`text/csv`).",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "csv"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/digest": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Get digest prefs",
        "operationId": "getV1Digest",
        "description": "The account's insight-digest opt-in: whether `enabled`, the `cadence`, and when it was `last_sent_ts`.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether the account is opted into the periodic emailed insights digest; `false` by default."
                    },
                    "cadence": {
                      "type": "string",
                      "description": "Digest frequency, one of `week` or `month`; defaults to `week`."
                    },
                    "last_sent_ts": {
                      "type": "integer",
                      "description": "Epoch-ms watermark of the last digest send; `0` when never sent."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Set digest prefs",
        "operationId": "postV1Digest",
        "description": "Opt the account owner into (or out of) a weekly/monthly emailed insights digest. Owner only. **Owner only.**",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          },
          {
            "secretKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the digest is on."
                  },
                  "cadence": {
                    "type": "string",
                    "enum": [
                      "month",
                      "week"
                    ],
                    "nullable": true,
                    "description": "Digest frequency."
                  }
                },
                "required": [
                  "enabled",
                  "cadence"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`; the digest preferences were saved."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `forbidden`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header on a state-changing request."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/engagement": {
      "post": {
        "tags": [
          "Reader Telemetry"
        ],
        "summary": "Engagement beacon",
        "operationId": "postV1Engagement",
        "description": "Public-key beacon (migration 0027): the escalation/contact link was SHOWN under a downvoted answer (`escalation_shown`) or CLICKED (`escalation_click`). Decoupled from the transcript and subject to a per-account daily row cap; drives the dashboard's support-deflection metric.",
        "security": [
          {
            "publicKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conversation_id": {
                    "type": "string",
                    "description": "Conversation the event belongs to (≤100 chars)."
                  },
                  "kind": {
                    "type": "string",
                    "description": "`escalation_shown` or `escalation_click`."
                  },
                  "turn": {
                    "type": "integer",
                    "description": "Answer index within the conversation (default 0)."
                  }
                },
                "required": [
                  "conversation_id",
                  "kind"
                ]
              },
              "example": {
                "conversation_id": "c_abc123",
                "kind": "escalation_click",
                "turn": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` on accept; a deduped or over-cap beacon still ACKs 200."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`, `revoked_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "Missing or malformed API key."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — `account_inactive`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "account_inactive",
                    "message": "This account is not active."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `origin_forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "origin_forbidden",
                    "message": "Origin not allowed for this key."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/feedback": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Thumbs summary",
        "operationId": "getV1Feedback",
        "description": "The owner-facing READ of reader thumbs votes — the capture POST is `POST /v1/feedback`. Returns up/down counts, the satisfaction rate, and recent rated answers. Dashboard-authed (session OR secret key); a public key is rejected at the door.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "up": {
                      "type": "number",
                      "description": "Count of thumbs-up votes in the window."
                    },
                    "down": {
                      "type": "number",
                      "description": "Count of thumbs-down votes in the window."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total votes (`up + down`)."
                    },
                    "up_rate": {
                      "type": "string",
                      "description": "`up / (up + down)` in `[0,1]`, or null when there are no votes."
                    },
                    "recent": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ts": {
                            "type": "integer",
                            "description": "Epoch-ms time the vote was recorded."
                          },
                          "conversation_id": {
                            "type": "string",
                            "description": "Conversation the rated answer belongs to."
                          },
                          "turn": {
                            "type": "integer",
                            "description": "Answer index within the conversation."
                          },
                          "vote": {
                            "type": "string",
                            "description": "The reader's verdict, `up` or `down`."
                          },
                          "question": {
                            "type": "string",
                            "description": "The rated user question."
                          },
                          "answer": {
                            "type": "string",
                            "description": "The rated assistant answer."
                          }
                        }
                      },
                      "description": "Recent rated answer turns, newest first."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Reader Telemetry"
        ],
        "summary": "Rate an answer",
        "operationId": "postV1Feedback",
        "description": "Stores a reader's vote on a specific answer turn. Best-effort: over the per-account daily cap the vote is silently dropped but still returns 200. Deduplicated on (account, conversation_id, turn).",
        "security": [
          {
            "publicKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vote": {
                    "type": "string",
                    "enum": [
                      "up",
                      "down"
                    ],
                    "description": "Thumbs direction."
                  },
                  "conversation_id": {
                    "type": "string",
                    "description": "Client conversation id (≤100 chars)."
                  },
                  "question": {
                    "type": "string",
                    "nullable": true,
                    "description": "The rated user question (≤1000 chars)."
                  },
                  "turn": {
                    "type": "integer",
                    "description": "Answer index within the conversation (0–10000); out-of-range coerces to 0."
                  }
                },
                "required": [
                  "vote",
                  "conversation_id"
                ]
              },
              "example": {
                "vote": "up",
                "conversation_id": "c_abc123",
                "question": "How do I deploy?",
                "turn": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`; the vote is best-effort, so an over-cap drop still ACKs `200`."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`, `revoked_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "Missing or malformed API key."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — `account_inactive`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "account_inactive",
                    "message": "This account is not active."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `origin_forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "origin_forbidden",
                    "message": "Origin not allowed for this key."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/feedback/summary": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Feedback summary",
        "operationId": "getV1FeedbackSummary",
        "description": "One cross-stream snapshot of the account's reader feedback over a recent 30-day window — thumbs, page ratings, survey responses, and conversation sentiment — powering the metric tiles at the top of the dashboard Feedback panel. Each sub-stream degrades to zeros if its backing table isn't present yet.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "window_days": {
                      "type": "integer",
                      "description": "Look-back window in days for the snapshot (fixed at 30, matching the Insights tab)."
                    },
                    "since": {
                      "type": "integer",
                      "description": "Epoch-ms start of the window (`now - 30 days`)."
                    },
                    "ratings": {
                      "type": "string",
                      "description": "Page star-rating aggregates over the window; zeros until that stream's table lands."
                    },
                    "thumbs": {
                      "type": "array",
                      "items": {},
                      "description": "Thumbs-vote totals over the window (always present — the `feedback` table ships on `main`)."
                    },
                    "surveys": {
                      "type": "string",
                      "description": "Structured survey-response aggregates over the window; zeros until that stream's table lands."
                    },
                    "sentiment": {
                      "type": "array",
                      "items": {},
                      "description": "Conversation-sentiment distribution over the window; zeros until that stream's table lands."
                    },
                    "recent_activity": {
                      "type": "string",
                      "description": "A small recent-activity feed across the streams for the panel header."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/capabilities": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "List capabilities",
        "operationId": "getV1GithubCapabilities",
        "description": "The static catalog of AI authoring capabilities (e.g. keyword and description generation, the style-guide pass) that can be enabled to run on a connected repo. Readable by any authenticated dashboard user.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "capabilities": {
                      "type": "string",
                      "description": "The catalog of available authoring capabilities, each with its id, label, and runner command."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — `github_unconfigured`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "github_unconfigured",
                    "message": "GitHub integration is not configured on this gateway."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/configure": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "summary": "Configure repo",
        "operationId": "postV1GithubConfigure",
        "description": "Declarative per-repo automation config: for each capability set whether it's enabled, its schedule (`cron`, floored to at most once per hour), run-on-push, base branch, and project dir. A pure DB apply — no GitHub writes. Owner only. **Owner only.**",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          },
          {
            "secretKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "repo": {
                    "type": "string",
                    "description": "Target repo in `owner/name` format."
                  },
                  "automations": {
                    "type": "array",
                    "items": {},
                    "nullable": true,
                    "description": "Array of per-capability automation configs to apply (last-write-wins per capability)."
                  }
                },
                "required": [
                  "repo",
                  "automations"
                ]
              },
              "example": {
                "repo": "acme/docs",
                "automations": [
                  {
                    "capability": "keywords",
                    "enabled": true,
                    "run_on_push": true,
                    "cron": "0 9 * * 1",
                    "base_branch": "main"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "repo": {
                      "type": "string",
                      "description": "Echoes the configured repo `owner/name`."
                    },
                    "automations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "capability": {
                            "type": "string",
                            "description": "Capability id this automation runs."
                          },
                          "enabled": {
                            "type": "string",
                            "description": "Whether the automation is active after the apply."
                          },
                          "run_on_push": {
                            "type": "string",
                            "description": "Whether a matching push fires the automation."
                          },
                          "cron": {
                            "type": "string",
                            "description": "Resolved 5-field cron schedule, or null when unscheduled."
                          },
                          "base_branch": {
                            "type": "string",
                            "description": "Branch the automation runs against, or null for the repo default."
                          },
                          "project_dir": {
                            "type": "string",
                            "description": "Subdirectory the vark project lives in, or null for the repo root."
                          }
                        }
                      },
                      "description": "The repo's automation rows after the apply."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`, `invalid_cron`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "`repo` must be in `owner/name` format."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `forbidden`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header on a state-changing request."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "That repo isn't connected to this account."
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `install_mismatch`, `install_missing`, `install_suspended`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "install_mismatch",
                    "message": "This repo's installation is owned by a different account — reconnect it."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — `github_unconfigured`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "github_unconfigured",
                    "message": "GitHub integration is not configured on this gateway."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/connect": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "summary": "Connect a repo",
        "operationId": "postV1GithubConnect",
        "description": "Mints a single-use install `state` and returns the GitHub App install URL carrying it. The browser follows that URL; GitHub echoes `state` back to the setup callback, which binds the installation to this account. Owner only. **Owner only.**",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "install_url": {
                      "type": "string",
                      "description": "GitHub App install URL with the single-use `state` embedded; redirect the browser here to start the install."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `forbidden`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header on a state-changing request."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — `github_unconfigured`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "github_unconfigured",
                    "message": "GITHUB_APP_SLUG is not set, so the install URL can't be built."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/connection": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "Connection status",
        "operationId": "getV1GithubConnection",
        "description": "Everything the dashboard's Docs Quality Checks page needs: whether the integration is configured, the install-URL slug, the account's installations, and each connected repo with its per-capability automation config.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "configured": {
                      "type": "boolean",
                      "description": "Whether the gateway is fully configured for the integration (app creds, slug, webhook secret, OAuth creds)."
                    },
                    "app_slug": {
                      "type": "string",
                      "description": "The GitHub App's URL slug used to build the install URL, or null when unset."
                    },
                    "capabilities": {
                      "type": "string",
                      "description": "The static catalog of AI authoring capabilities that can be enabled per repo."
                    },
                    "installations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "installation_id": {
                            "type": "string",
                            "description": "GitHub's numeric installation id."
                          },
                          "github_login": {
                            "type": "string",
                            "description": "The org/user login the app is installed on."
                          },
                          "account_type": {
                            "type": "string",
                            "description": "Installation account type, e.g. `Organization` or `User`."
                          },
                          "suspended": {
                            "type": "boolean",
                            "description": "`true` when GitHub has suspended the installation."
                          }
                        }
                      },
                      "description": "GitHub App installations bound to this account."
                    },
                    "repos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "full_name": {
                            "type": "string",
                            "description": "Repo `owner/name`."
                          },
                          "default_branch": {
                            "type": "string",
                            "description": "Repo default branch (the automation base when none is set)."
                          },
                          "private": {
                            "type": "string",
                            "description": "Whether the repo is private."
                          },
                          "installation_id": {
                            "type": "string",
                            "description": "Installation that grants access to this repo."
                          },
                          "configured": {
                            "type": "integer",
                            "description": "`true` when the repo has at least one automation set up."
                          },
                          "automations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "capability": {
                                  "type": "string",
                                  "description": "Capability id this automation runs."
                                },
                                "enabled": {
                                  "type": "string",
                                  "description": "Whether the automation is active."
                                },
                                "run_on_push": {
                                  "type": "string",
                                  "description": "Whether a matching push fires the automation."
                                },
                                "cron": {
                                  "type": "string",
                                  "description": "Schedule (5-field cron, at most hourly), or null."
                                },
                                "base_branch": {
                                  "type": "string",
                                  "description": "Branch the automation runs against, or null for the repo default."
                                },
                                "project_dir": {
                                  "type": "string",
                                  "description": "Subdirectory the vark project lives in, or null for the repo root."
                                }
                              }
                            },
                            "description": "Per-capability automation rows configured on the repo."
                          }
                        }
                      },
                      "description": "Repos reachable through the installations, each with its automation config."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — `github_unconfigured`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "github_unconfigured",
                    "message": "GitHub integration is not configured on this gateway."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/github/disconnect": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "summary": "Disconnect a repo",
        "operationId": "postV1GithubDisconnect",
[...]
