{
  "openapi": "3.0.3",
  "info": {
    "title": "Aardvark Gateway API",
    "version": "1.0.0",
    "description": "User-facing HTTP API of the aardvark cloud gateway — the metered OpenRouter proxy and dashboard backend. Operator-only endpoints (`/admin/*`, `/operator-auth/*`, `/operator-api/*`) and the dashboard / operator SPA shells (`/dashboard*`, `/operator*`) are excluded by design.\n\nThis document is GENERATED from the gateway source: `scripts/gen-openapi.mjs` extracts every route's auth, request fields, query params, response shape, and error codes directly from the handlers, then renders them. Do NOT edit `openapi.json` (or hand-author its structure) — change the code, and regenerate. Only prose lives in `scripts/openapi/descriptions.mjs`."
  },
  "servers": [
    {
      "url": "https://gateway.aardvarkdocs.com",
      "description": "Aardvark-hosted gateway."
    },
    {
      "url": "https://aardvark-gateway.{subdomain}.workers.dev",
      "description": "Self-hosted on a workers.dev subdomain.",
      "variables": {
        "subdomain": {
          "default": "your-subdomain",
          "description": "Your Cloudflare workers.dev subdomain."
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "Metered chat completions."
    },
    {
      "name": "Reader Telemetry",
      "description": "Reader telemetry ingest."
    },
    {
      "name": "Dashboard Analytics",
      "description": "Dashboard analytics."
    },
    {
      "name": "Dashboard Support",
      "description": "Support tickets."
    },
    {
      "name": "Assistant",
      "description": "In-dashboard support assistant."
    },
    {
      "name": "Account",
      "description": "Account self-service."
    },
    {
      "name": "API Keys",
      "description": "API key management."
    },
    {
      "name": "Team",
      "description": "Team & invites."
    },
    {
      "name": "Billing",
      "description": "Card & top-ups."
    },
    {
      "name": "Auth",
      "description": "Magic-link sign-in."
    },
    {
      "name": "SSO",
      "description": "Enterprise SSO & provisioning."
    },
    {
      "name": "Webhooks",
      "description": "Stripe webhooks."
    },
    {
      "name": "GitHub",
      "description": "Docs quality checks."
    },
    {
      "name": "Hosting",
      "description": "Managed docs hosting."
    },
    {
      "name": "Service",
      "description": "Health check."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Service"
        ],
        "summary": "Health check",
        "operationId": "getRoot",
        "description": "Unauthenticated root health check; returns a fixed `text/plain` body.",
        "security": [],
        "responses": {
          "200": {
            "description": "`aardvark-gateway ok`",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Destroy the session",
        "operationId": "postAuthLogout",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Deletes the session row and clears the cookie. Requires the session cookie and the `X-Aardvark-Dashboard` CSRF header. Idempotent.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`; the session row was deleted and the `__Host-av_session` cookie cleared."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header."
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error — `logout_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "logout_failed",
                    "message": "Could not complete sign-out. Please try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Current user & teams",
        "operationId": "getAuthMe",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Returns the authenticated user, the active account, the role there, and all memberships. Returns 401 `{ authenticated: false }` when there is no valid session.",
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authenticated": {
                      "type": "boolean",
                      "description": "`true` for a valid session; the 401 body instead carries `false`."
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Stable user id of the signed-in account holder."
                        },
                        "email": {
                          "type": "string",
                          "description": "Login email of the signed-in user."
                        }
                      },
                      "description": "The signed-in user identity (id and login email)."
                    },
                    "active_account": {
                      "type": "string",
                      "description": "Account id the session is currently scoped to for billing and `/v1/*` access."
                    },
                    "role": {
                      "type": "string",
                      "nullable": true,
                      "description": "Caller's role in `active_account`: one of `owner`, `admin`, or `member`."
                    },
                    "memberships": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "string",
                            "description": "Account id of this membership."
                          },
                          "role": {
                            "type": "string",
                            "description": "User's role on that account: `owner`, `admin`, or `member`."
                          },
                          "owner_email": {
                            "type": "string",
                            "description": "Owner email of that account, shown to identify it in the switcher."
                          }
                        }
                      },
                      "description": "All accounts the user is an active member of, for the account switcher."
                    },
                    "sso_confined": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "authenticated"
                  ],
                  "properties": {
                    "authenticated": {
                      "type": "boolean",
                      "description": "Always `false` in this error response."
                    }
                  }
                },
                "example": {
                  "authenticated": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/request-link": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Send a sign-in link",
        "operationId": "postAuthRequestLink",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Emails a single-use magic link to the address. Neutral 200 regardless of whether the email exists (no account enumeration). Rate limited per IP and per email.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email to send the sign-in link to."
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`; the response is neutral and never signals whether the email exists."
                    },
                    "message": {
                      "type": "string",
                      "description": "Neutral confirmation prose shown regardless of outcome, avoiding account enumeration."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `sso_required`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "sso_required",
                    "message": "Your organization requires single sign-on. Sign in through your identity provider instead of an email link."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many sign-in requests. Please wait a minute and try again."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/saml/acs": {
      "post": {
        "tags": [
          "SSO"
        ],
        "summary": "SAML ACS",
        "operationId": "postAuthSamlAcs",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "The Assertion Consumer Service (HTTP-POST binding). Strictly validates the signed SAMLResponse against the account's pinned certificate (single signed assertion; enveloped-signature; exclusive-c14n digest; RSA-SHA256; audience/recipient/InResponseTo; replay cache), then mints the session. Only served when the gateway has SAML enabled — that disabled surface is the one failure here answered with the JSON error envelope (**404**); every other failure a browser can land on renders the styled SSO page instead.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "SAMLResponse": {
                    "type": "string",
                    "description": "Base64 signed SAML Response from the IdP (HTTP-POST binding). Capped at 1,000,000 characters; an oversized value is rejected as a **400**, while a raw request body over 1,100,000 bytes is a **413**."
                  },
                  "RelayState": {
                    "type": "string",
                    "description": "The single-use state key minted at `POST /auth/sso/begin`, echoed back by the IdP. Matched against the browser binder cookie, then consumed."
                  }
                },
                "required": [
                  "SAMLResponse",
                  "RelayState"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "SAMLResponse": {
                    "type": "string",
                    "description": "Base64 signed SAML Response from the IdP (HTTP-POST binding). Capped at 1,000,000 characters; an oversized value is rejected as a **400**, while a raw request body over 1,100,000 bytes is a **413**."
                  },
                  "RelayState": {
                    "type": "string",
                    "description": "The single-use state key minted at `POST /auth/sso/begin`, echoed back by the IdP. Matched against the browser binder cookie, then consumed."
                  }
                },
                "required": [
                  "SAMLResponse",
                  "RelayState"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An HTML page.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The styled SSO error page — this endpoint is landed on by a browser, so failures render as HTML, not the JSON error envelope."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The styled SSO error page — this endpoint is landed on by a browser, so failures render as HTML, not the JSON error envelope."
                }
              }
            }
          },
          "404": {
            "description": "Not found — `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "413": {
            "description": "Payload too large.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The styled SSO error page — this endpoint is landed on by a browser, so failures render as HTML, not the JSON error envelope."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The styled SSO error page — this endpoint is landed on by a browser, so failures render as HTML, not the JSON error envelope."
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying — the ACS is rate-limited to 30 requests per minute per IP, ahead of any body read.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/auth/saml/metadata": {
      "get": {
        "tags": [
          "SSO"
        ],
        "summary": "SAML SP metadata",
        "operationId": "getAuthSamlMetadata",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "The SP EntityDescriptor XML the customer uploads to their IdP. Only served when the gateway has SAML enabled. The SP entity id is `<origin>/auth/saml/metadata?account=<id>`; the ACS is `<origin>/auth/saml/acs`.",
        "security": [],
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The account id whose SP metadata to render."
          }
        ],
        "responses": {
          "200": {
            "description": "An XML document (`application/xml`).",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "xml"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "account is required."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many requests. Please slow down and retry."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sso/begin": {
      "post": {
        "tags": [
          "SSO"
        ],
        "summary": "Begin SSO login",
        "operationId": "postAuthSsoBegin",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Resolve the enabled IdP by the email's domain and return the next hop: for OIDC, `redirect_url` (an authorization URL with state + nonce + S256 PKCE); for SAML, `handoff_url` (a same-origin gateway page that auto-POSTs the AuthnRequest to the IdP under an IdP-scoped CSP). No session required — this is the pre-login surface.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "The user's email; its domain selects the account's IdP."
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "redirect_url": {
                      "type": "string"
                    },
                    "handoff_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`, `sso_misconfigured`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — `not_found`, `sso_not_configured`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Not found."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many sign-in attempts. Please wait a moment."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sso/callback": {
      "get": {
        "tags": [
          "SSO"
        ],
        "summary": "OIDC callback",
        "operationId": "getAuthSsoCallback",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "The OIDC redirect_uri. Consumes the single-use state, exchanges the code (client secret + PKCE), verifies the id_token (RS256 via JWKS; iss/aud/exp/iat/nonce; verified email), then mints the dashboard session and redirects to `/dashboard`. Renders an HTML result page.",
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An HTML page.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The styled SSO error page — this endpoint is landed on by a browser, so failures render as HTML, not the JSON error envelope."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The styled SSO error page — this endpoint is landed on by a browser, so failures render as HTML, not the JSON error envelope."
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The styled SSO error page — this endpoint is landed on by a browser, so failures render as HTML, not the JSON error envelope."
                }
              }
            }
          }
        }
      }
    },
    "/auth/sso/saml-handoff": {
      "get": {
        "tags": [
          "SSO"
        ],
        "summary": "SAML AuthnRequest handoff",
        "operationId": "getAuthSsoSamlHandoff",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "The gateway-hosted SAML handoff page (SAML-enabled deployments only). The dashboard's `form-action 'none'` CSP can't POST the AuthnRequest to the IdP, so `begin` returns a `handoff_url` here; this page is a fresh document whose CSP permits form-action only to the configured IdP's SSO URL, and it auto-submits the AuthnRequest (`SAMLRequest` + `RelayState`). Reads the state without consuming it (the ACS consumes it on the IdP postback). Renders HTML.",
        "security": [],
        "parameters": [
          {
            "name": "rs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An HTML page.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "The styled SSO error page — this endpoint is landed on by a browser, so failures render as HTML, not the JSON error envelope."
                }
              }
            }
          },
          "404": {
            "description": "Not found — `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Not found."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/switch": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Switch active account",
        "operationId": "postAuthSwitch",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "Rotates the session to a different account the user belongs to. Requires the session cookie and the `X-Aardvark-Dashboard` CSRF header. Rate limited per user.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_id": {
                    "type": "string",
                    "description": "Target account id to switch to."
                  }
                },
                "required": [
                  "account_id"
                ]
              },
              "example": {
                "account_id": "a_abc123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` once the session is rotated to the target account."
                    },
                    "active_account": {
                      "type": "string",
                      "description": "Account id the session is now active on, matching the requested `account_id`."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `unauthenticated`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "unauthenticated",
                    "message": "Sign in to switch accounts."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `no_access`, `sso_required`, `sso_session_confined`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many account switches. Please wait a moment."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Magic-link landing",
        "operationId": "getAuthVerify",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This endpoint serves the magic-link verification HTML page, not a cross-origin JSON API request. Open the magic link in your browser or start the flow from the dashboard instead.",
        "description": "Serves a tiny nonce-CSP HTML page that reads the token from the URL fragment and POSTs it to `/auth/verify`. The token never reaches the server as a query string.",
        "security": [],
        "responses": {
          "200": {
            "description": "An HTML page that completes the sign-in client-side.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Redeem a magic link",
        "operationId": "postAuthVerify",
        "x-aardvark-browser-tryit": false,
        "x-aardvark-browser-tryit-reason": "This auth endpoint is same-origin to the gateway dashboard, so browser calls from this docs page are blocked by CORS. Use a generated request sample or the dashboard instead.",
        "description": "The token in the body is the credential. On success sets the `__Host-av_session` cookie. NOTE: this endpoint's responses use the non-standard shape `{ ok, error }` (read by the landing page's script), not the usual error envelope.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The magic-link token from the URL fragment."
                  }
                },
                "required": [
                  "token"
                ]
              },
              "example": {
                "token": "<base64url-token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "`true` when the token was consumed and the `__Host-av_session` cookie was minted; `false` carries an `error` code."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `invalid`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `false` in this error response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error code string."
                    }
                  }
                },
                "example": {
                  "ok": false,
                  "error": "invalid"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `false` in this error response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error code string."
                    }
                  }
                },
                "example": {
                  "ok": false,
                  "error": "rate_limited"
                }
              }
            }
          }
        }
      }
    },
    "/v1/activity": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Live activity rollup",
        "operationId": "getV1Activity",
        "description": "Headline metrics over the last `days` (default 30, capped at 365): conversation/answer/feedback counts, verdict mix, uncertainty rate, engagement, support-deflection rate, and top languages.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Window length in days (default 30, capped at 365)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "window_days": {
                      "type": "integer",
                      "description": "Resolved look-back window in days (default `30`, capped at `365`)."
                    },
                    "since": {
                      "type": "integer",
                      "description": "Window start, epoch-ms (inclusive); `until` minus `window_days`."
                    },
                    "until": {
                      "type": "integer",
                      "description": "Window end, epoch-ms (exclusive); the request time."
                    },
                    "conversations": {
                      "type": "number",
                      "description": "Distinct conversations with at least one stored turn in the window."
                    },
                    "answers": {
                      "type": "number",
                      "description": "Total stored answer turns (transcript rows) in the window."
                    },
                    "feedback": {
                      "type": "object",
                      "properties": {
                        "up": {
                          "type": "string",
                          "description": "Count of thumbs-up votes on answers in the window."
                        },
                        "down": {
                          "type": "string",
                          "description": "Count of thumbs-down votes on answers in the window."
                        },
                        "satisfaction_rate": {
                          "type": "string",
                          "description": "`up / (up + down)` in `[0,1]`, or `null` when no votes."
                        }
                      },
                      "description": "Reader thumbs vote tallies and the derived satisfaction rate."
                    },
                    "verdicts": {
                      "type": "object",
                      "properties": {
                        "confident": {
                          "type": "number",
                          "description": "Turns classified `confident` by the analysis pass."
                        },
                        "unconfident": {
                          "type": "number",
                          "description": "Turns classified `unconfident` by the analysis pass."
                        },
                        "not_found": {
                          "type": "number",
                          "description": "Turns classified `not_found` (no answer in the docs)."
                        },
                        "doc_gap": {
                          "type": "number",
                          "description": "Turns classified `doc_gap` (a documentation coverage gap)."
                        }
                      },
                      "description": "Analysis-pass answer-quality classification distribution."
                    },
                    "analyzed": {
                      "type": "string",
                      "description": "Turns with any verdict: sum of the four `verdicts` counts."
                    },
                    "uncertainty_rate": {
                      "type": "string",
                      "description": "Flagged (`unconfident`+`not_found`+`doc_gap`) over `analyzed`, or `null`."
                    },
                    "engagement": {
                      "type": "object",
                      "properties": {
                        "escalation_shown": {
                          "type": "number",
                          "description": "Times the escalation/contact link was shown under a downvoted answer."
                        },
                        "escalation_click": {
                          "type": "number",
                          "description": "Times a reader clicked the escalation/contact link."
                        }
                      },
                      "description": "Escalation/contact-link beacon counts driving deflection."
                    },
                    "deflection_rate": {
                      "type": "string",
                      "description": "`1 − escalation_click / answers`, clamped `[0,1]`; `null` when no escalations or answers."
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "language": {
                            "type": "string",
                            "description": "ISO query-language code from the analysis pass."
                          },
                          "count": {
                            "type": "integer",
                            "description": "Turns analyzed in this language during the window."
                          }
                        }
                      },
                      "description": "Top query languages by turn count (max 12, descending)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistant/chat": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "summary": "Support assistant turn",
        "operationId": "postV1AssistantChat",
        "description": "One metered turn of the dashboard support assistant. The gateway injects the system prompt (identity, plan-and-approve behavior, the docs index) and the account context, forces the latest Sonnet model, and forwards the conversation to the upstream model. Billed to the account (tagged as support spend), so it can return 402/429/503 like the chat endpoint. The reply may include `tool_calls` the dashboard renders for the user to approve before running.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          },
          {
            "secretKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "type": "array",
                    "items": {},
                    "nullable": true,
                    "description": "The running conversation (user/assistant/tool messages). Any client-supplied system message is dropped; tool_calls are filtered to the known tool menu."
                  }
                },
                "required": [
                  "messages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "Always `assistant`."
                    },
                    "content": {
                      "type": "string",
                      "description": "The assistant's reply text (may be null on a pure tool-call turn).",
                      "nullable": true
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      },
                      "description": "Proposed tool calls from the known menu, for the user to approve; empty on a final answer."
                    },
                    "billed_usd": {
                      "type": "number",
                      "description": "What this turn cost the account, in USD (published rate)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — `anomaly_paused`, `grant_paused`, `insufficient_balance`, `no_billing_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "anomaly_paused",
                    "message": "AI is paused pending review of unusual usage."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header on a state-changing request."
                  }
                }
              }
            }
          },
          "413": {
            "description": "Payload too large — `too_large`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "too_large",
                    "message": "This conversation is too long. Please start a new chat."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `concurrency_limit`, `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "concurrency_limit",
                    "message": "Too many concurrent AI requests on this account. Please retry in a moment."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream error — `upstream_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "upstream_error",
                    "message": "Couldn't get a reply right now. Please try again."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — `pricing_unavailable`, `unavailable`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "pricing_unavailable",
                    "message": "Couldn't price the assistant model right now. You weren't billed."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistant/doc": {
      "get": {
        "tags": [
          "Assistant"
        ],
        "summary": "Fetch a docs page",
        "operationId": "getV1AssistantDoc",
        "description": "Server-side fetch of one aardvark documentation page (Markdown) for the assistant's `fetch_doc` grounding tool. The path is validated to a same-origin `.md` page and the body is size-capped.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The docs page's `.md` path (relative, no scheme/traversal), e.g. `ai-gateway.md`."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "nullable": true,
                      "description": "The resolved page path."
                    },
                    "text": {
                      "type": "string",
                      "description": "The page's Markdown, truncated to the size cap."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid doc path."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "Couldn't find that documentation page."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many document fetches — try again in a moment."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream error — `upstream_error`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "upstream_error",
                    "message": "Couldn't reach the docs site."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/assistant/escalate": {
      "post": {
        "tags": [
          "Assistant"
        ],
        "summary": "Escalate to a human",
        "operationId": "postV1AssistantEscalate",
        "description": "File a support ticket (a GitHub issue in the operator's repo) with the chat history, attempted actions, and account details, for a human to handle. Per-account rate-limited. Records the escalation and mirrors it to the support list; if GitHub filing is unavailable it still records + mirrors and reports `filed: false`.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          },
          {
            "secretKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "string",
                    "description": "A one-line summary of what the user needs help with."
                  },
                  "transcript": {
                    "type": "array",
                    "items": {},
                    "description": "The conversation so far (role/content messages)."
                  },
                  "actions": {
                    "type": "array",
                    "items": {},
                    "description": "The actions the assistant proposed/ran and their outcomes."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` once the escalation is recorded."
                    },
                    "filed": {
                      "type": "boolean",
                      "description": "Whether a GitHub issue was actually created."
                    },
                    "issue_number": {
                      "type": "integer",
                      "nullable": true,
                      "description": "The created issue number, or null if not filed."
                    },
                    "issue_url": {
                      "type": "string",
                      "nullable": true,
                      "description": "The created issue URL, or null if not filed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header on a state-changing request."
                  }
                }
              }
            }
          },
          "413": {
            "description": "Payload too large — `too_large`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "too_large",
                    "message": "This support request is too long. Please shorten it and try again."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many support requests — please try again in a moment."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/audit/export.csv": {
      "get": {
        "tags": [
          "SSO"
        ],
        "summary": "Audit-log CSV export",
        "operationId": "getV1AuditExportCsv",
        "description": "A CSV of the account's lifecycle audit trail — account status changes, subscription events, payment events, API-key created/revoked, and SSO/SCIM security events (category `sso`: config saves, domain verifications, SCIM token mint/revoke, provisioning) — unioned into `ts,category,event,actor,detail`, newest first, capped at 10k rows (`X-Aardvark-Export-Truncated` when hit). Billing-manager + Business/Enterprise plan.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "A CSV file (`text/csv`).",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "csv"
                }
              }
            },
            "headers": {
              "X-Aardvark-Export-Truncated": {
                "description": "Present (value `true`) only when the 10,000-row export cap was hit and older rows were dropped; ABSENT otherwise, never `false`. Readable same-origin only — it is not listed in `Access-Control-Expose-Headers`, so a cross-origin browser fetch reads `null`.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden`, `forbidden_key`, `plan_required`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Only an account owner or admin can manage billing."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many export requests. Please wait a moment."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/authoring-analytics": {
      "get": {
        "tags": [
          "Dashboard Analytics"
        ],
        "summary": "Authoring analytics",
        "operationId": "getV1AuthoringAnalytics",
        "description": "Per-type counts and the most recent authoring events over the last 90 days. Returns clean empty shapes when no rows exist.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_type": {
                            "type": "string",
                            "description": "Client-defined authoring event name, e.g. `suggestion_accepted`."
                          },
                          "count": {
                            "type": "integer",
                            "description": "Number of events of this `event_type` recorded within the 90-day window."
                          }
                        }
                      },
                      "description": "Per-`event_type` counts over the last 90 days, busiest type first (≤500 types)."
                    },
                    "recent": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event_type": {
                            "type": "string",
                            "description": "Client-defined authoring event name for this row."
                          },
                          "detail": {
                            "type": "string",
                            "description": "Optional free-text payload sent with the event; `null` when omitted."
                          },
                          "ts": {
                            "type": "integer",
                            "description": "Epoch-ms time the event was recorded."
                          }
                        }
                      },
                      "description": "The most recent authoring events, newest first (≤50), within the 90-day window."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total events over the last 90 days, summed from the per-type `events` counts."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden_key",
                    "message": "This credential can't manage the account."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/authoring-telemetry": {
      "post": {
        "tags": [
          "Reader Telemetry"
        ],
        "summary": "Authoring beacon",
        "operationId": "postV1AuthoringTelemetry",
        "description": "Scaffold ingest for a future authoring client. Public-key authed like the other reader beacons; `event_type` is restricted to letters/digits/'.'/'_'/'-'. Best-effort over the per-account daily cap.",
        "security": [
          {
            "publicKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_type": {
                    "type": "string",
                    "description": "Event name (≤100 chars)."
                  },
                  "detail": {
                    "type": "string",
                    "nullable": true,
                    "description": "Free-text payload (≤2000 chars)."
                  }
                },
                "required": [
                  "event_type"
                ]
              },
              "example": {
                "event_type": "draft.generated",
                "detail": "page=quickstart"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true`; best-effort ack even when the row is dropped over the daily cap."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_request",
                    "message": "Invalid JSON body."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`, `revoked_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "Missing or malformed API key."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — `account_inactive`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "account_inactive",
                    "message": "This account is not active."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `origin_forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "origin_forbidden",
                    "message": "Origin not allowed for this key."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Plan catalog + live subscription and grant meter",
        "operationId": "getV1Billing",
        "description": "The subscription-plan catalog (Free/Pro/Business/Enterprise — operator-editable data), the account's live subscription with its included-AI grant meter (dollars used, the account's own trailing burn rate, an estimated depletion date), the anomaly-breaker state, and recent subscription events. Owner/admin only, like the other billing surfaces.",
        "security": [
          {
            "sessionCookie": []
          },
          {
            "secretKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Stable plan slug: `free`, `pro`, `business`, `enterprise` (operator may add more)."
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name."
                          },
                          "price_usd": {
                            "type": "number",
                            "description": "Monthly platform price in USD (0 for Free and custom-only plans)."
                          },
                          "price_annual_usd": {
                            "type": "number",
                            "nullable": true,
                            "description": "Annual price for 12 months in USD (20% off the platform fee, with the grant funded monthly at par — an effective ~12% off the yearly total, up to ~13% on plans whose bundled allowance is a smaller share of the fee), or null when annual isn't offered."
                          },
                          "monthly_grant_usd": {
                            "type": "number",
                            "description": "Included AI per month, in dollars of BILLED usage (the same units the ledger bills — never opaque credits)."
                          },
                          "markup_x100": {
                            "type": "integer",
                            "description": "The plan's published member markup over OpenRouter list cost, ×100 (150 = ×1.50 Free baseline, 140 = ×1.40 Pro, 130 = ×1.30 Business, 120 = ×1.20 Enterprise)."
                          },
                          "seats_included": {
                            "type": "integer",
                            "description": "Editor seats included with the plan."
                          },
                          "seat_price_usd": {
                            "type": "number",
                            "description": "Per-seat monthly price of an add-on editor seat on this plan, in USD (0 = the plan sells no add-on seats). Annual subscriptions bill seats at this rate ×12 at par. Exposed so a plan-change confirmation can disclose the seat-charge delta a switch imposes on an account already holding add-on seats."
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether the plan is open in the catalog (a retired plan keeps existing subscribers but takes no new ones)."
                          },
                          "self_serve": {
                            "type": "boolean",
                            "description": "Whether the plan can be subscribed to directly (the Free/PAYG row is the 'no subscription' state and is never self-serve)."
                          }
                        }
                      },
                      "description": "The plan catalog, cheapest first."
                    },
                    "subscription": {
                      "type": "object",
                      "description": "The live subscription + grant meter: plan/status/interval (+ `cancel_at` when a cancellation is scheduled), `grant` (monthly/remaining/rollover/available USD + period bounds), `overflow` (mode/cap/used + the 2× acknowledgment), `seats` (add-on editor seats: `included`/`addon`/`used`/`limit` counts + `seat_price_usd` per-seat monthly price), `burn` (last-30-days USD, per-day rate, estimated depletion date), and `max_bill_usd` — the single worst-case-bill number. `free_mode` is always present as `{ active, until }`; while active, complimentary AI usage is never charged or balance/grant-gated and `max_bill_usd` is 0, while GitHub Automations compute still bills prepaid balance. `until` is the exact epoch-ms cutoff or null for an indefinite grant. Null on the free pay-as-you-go plan.",
                      "nullable": true
                    },
                    "anomaly_paused": {
                      "type": "boolean",
                      "description": "Whether the spend-velocity circuit breaker has paused paid AI (free models keep serving)."
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event": {
                            "type": "string",
                            "description": "Event kind: subscribed, plan_changed, canceled, cancel_unscheduled, grant_reset, overflow_changed, payment_failed, payment_recovered, downgraded, paused, resumed, seats_changed."
                          },
                          "actor": {
                            "type": "string",
                            "description": "Who performed it: owner, admin (a team admin acting for the account), operator, or system."
                          },
                          "detail": {
                            "type": "string",
                            "description": "Event-specific JSON detail, or null.",
                            "nullable": true
                          },
                          "ts": {
                            "type": "integer",
                            "description": "Epoch-ms time of the event."
                          }
                        }
                      },
                      "description": "Up to 20 most recent subscription lifecycle events, newest first."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `forbidden`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "forbidden",
                    "message": "Only an account owner or admin can manage billing."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/cancel": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Cancel the subscription (or undo a scheduled cancellation)",
        "operationId": "postV1BillingCancel",
        "description": "A Stripe-billed subscription cancels at PERIOD END (the customer keeps what they paid for; the webhook performs the downgrade at the boundary) — the scheduled end date is surfaced as the subscription's `cancel_at` until then. Pass `resume: true` to UNDO a scheduled cancellation (409 `no_pending_cancel` when none is scheduled). An operator-granted subscription downgrades immediately. The prepaid balance is never touched by a lapse.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          },
          {
            "secretKey": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resume": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resumed": {
                      "type": "boolean",
                      "description": "`true` when a scheduled cancellation was undone (`resume: true`)."
                    },
                    "subscription": {
                      "type": "object",
                      "description": "The refreshed subscription payload (carries the updated `cancel_at`).",
                      "nullable": true
                    },
                    "canceled": {
                      "type": "boolean",
                      "description": "`true` when a cancellation was scheduled (or performed immediately)."
                    },
                    "at_period_end": {
                      "type": "boolean",
                      "description": "`true` when the plan stays active until the paid period ends; `false` when the downgrade was immediate (operator-granted)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `forbidden`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header on a state-changing request."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — `no_subscription`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "no_subscription",
                    "message": "No subscription to cancel."
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `change_pending`, `no_pending_cancel`, `not_live`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "change_pending",
                    "message": "You have a plan change scheduled for your next renewal; switch back to your current plan to unschedule it, then cancel."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many subscription attempts. Please wait a moment."
                  }
                }
              }
            }
          },
          "502": {
            "description": "Upstream error — `cancel_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "cancel_failed",
                    "message": "Could not update the payment processor; please retry."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — `payments_unavailable`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "payments_unavailable",
                    "message": "Card payments are not enabled on this gateway."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/change-plan": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Switch the live subscription to another plan (upgrades apply immediately; downgrades at the next boundary)",
        "operationId": "postV1BillingChangePlan",
        "description": "Switches the live subscription to another plan. An UPGRADE (a higher-priced plan) applies IMMEDIATELY — the Stripe price is swapped with the difference prorated onto the next invoice, and the grant/markup/seats re-snapshot now. A DOWNGRADE (a lower-priced plan) is SCHEDULED for the next billing boundary with NO current-period proration: the current plan's entitlement and billing continue unchanged until then, and the switch applies at that period's invoice.paid (the response reports the scheduled plan via `pending_plan`, and switching back before the boundary unschedules it). At most ONE off-cycle re-grant applies per grant period regardless of how many times plans are swapped (swap-proof grant minting). Operator-managed (non-Stripe) subscriptions are refused — the operator re-plans via the admin surface.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          },
          {
            "secretKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan": {
                    "type": "string",
                    "description": "Catalog plan id to switch to (must be self-serve)."
                  }
                },
                "required": [
                  "plan"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "changed": {
                      "type": "boolean",
                      "description": "Always `true` on success."
                    },
                    "effective": {
                      "type": "string"
                    },
                    "subscription": {
                      "type": "object",
                      "description": "The updated subscription + grant meter (same shape as `GET /v1/billing`'s `subscription`)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `bad_plan`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "bad_plan",
                    "message": "Unknown plan, or not self-serve subscribable."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment required — `change_failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "change_failed",
                    "message": ""
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `account_closed`, `account_suspended`, `csrf`, `forbidden`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "account_closed",
                    "message": "This account is closed; it cannot change plans."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — `no_subscription`, `not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "no_subscription",
                    "message": "No subscription to change; subscribe first."
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `cancel_pending`, `change_pending`, `not_live`, `operator_managed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "cancel_pending",
                    "message": "Your subscription is scheduled to cancel at your next renewal; resume it first, then change plans."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "rate_limited",
                    "message": "Too many subscription attempts. Please wait a moment."
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable — `payments_unavailable`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "payments_unavailable",
                    "message": "Card payments are not enabled on this gateway."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/overflow": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Set the included-AI overflow policy",
        "operationId": "postV1BillingOverflow",
        "description": "What happens when the monthly included AI runs out: `cap_hold` (default — paid AI pauses; the plan price is the worst-case bill), `payg_fallback` (overflow draws the prepaid balance at the plan's member markup, up to the cap), or `shutoff`. Raising the cap past 2× the monthly grant requires the explicit acknowledgment.",
        "security": [
          {
            "sessionCookie": [],
            "csrfHeader": []
          },
          {
            "secretKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "cap_hold",
                      "payg_fallback",
                      "shutoff"
                    ],
                    "description": "One of `cap_hold`, `payg_fallback`, `shutoff`."
                  },
                  "cap_usd": {
                    "type": "number",
                    "description": "Per-period overflow ceiling in USD (omitted keeps the current cap; the default is 1× the monthly grant)."
                  },
                  "ack_2x": {
                    "type": "boolean",
                    "description": "Set `true` to acknowledge that overflow past 2× the grant bills at the member markup (sticky once given)."
                  }
                },
                "required": [
                  "mode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Always `true` on success."
                    },
                    "mode": {
                      "type": "string",
                      "description": "The saved overflow mode."
                    },
                    "cap_usd": {
                      "type": "number",
                      "description": "The saved overflow cap in USD."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — `ack_required`, `bad_request`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "ack_required",
                    "message": "Raising the overflow cap past 2x your monthly included AI requires ack_2x: true."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated — `invalid_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "invalid_key",
                    "message": "A secret key (aardvark_secret_…) is required."
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — `csrf`, `forbidden`, `forbidden_key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "csrf",
                    "message": "Missing the dashboard request header on a state-changing request."
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — `no_subscription`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "no_subscription",
                    "message": "Overflow policy applies to a subscription; this account is on the free plan."
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict — `not_live`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "not_live",
                    "message": "The subscription is no longer live."
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — `rate_limited`.",
            "content": {
              "application/json": {
                "schema": {
[...]
